@{
    ViewBag.Title = "VerificationAcknowledgement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Verify Email Address</h2>

We now need to verify your email address. We've sent an email to @ViewBag.Email to verify your address. 
Please click the link in that email to continue.


