@using System.Globalization
@using Eclatech.KidsHub.Objects
@using Eclatech.KidsHub.Web.Helper
@model UserProfile

@{
    Layout = null;
}

Welcome to Kids Hub Site, @Model.FirstName

We need you to verify your email.  Click the below link to get verified!

<br/>
<br />

<a href="@string.Format("{0}Account/Verify?code={1}", WebHelper.GetFullyQualifiedApplicationPath(), @Model.EmailActivationToken.ToString(CultureInfo.InvariantCulture))">Click Here</a>

@*@Url.Action(string.Format("{0}Verify", WebHelper.GetFullyQualifiedApplicationPath()), "Account", new { code =  })*@
<br /> 
<br />
Thanks,
<br/>
Kidshub Administrator!